<div class="container">
  <div class="row">
    <tbody>
      <tr>
        <td><%= link_to snippet.title, snippet_path(snippet) %></td>
        <td><%= link_to snippet.user.username, snippet.user %></td>
        <td><%= time_ago_in_words(snippet.created_at) %>
          ago<% if current_user.admin?  %>
          | <%= link_to "delete", snippet, method: :delete,
                                    data: { confirm: "Are you sure?" }%>
          | <%= link_to "edit", edit_snippet_path(snippet)%>
          <% end %></td>

      </tr>
    </div>
